# ==========================================
# RetailPulse
# ==========================================

APP_ENV=dev

# ==========================================
# AWS
# ==========================================

AWS_REGION=us-west-2
AWS_ACCOUNT_ID=

S3_BUCKET=retailpulse-dev

IAM_ROLE_NAME=RetailPulseSnowflakeRole
IAM_POLICY_NAME=RetailPulseS3ReadPolicy

# ==========================================
# Snowflake
# ==========================================

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=

SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

SNOWFLAKE_DATABASE=RETAILPULSE_DEV
SNOWFLAKE_SCHEMA=RAW

SNOWFLAKE_STORAGE_INTEGRATION=RP_S3_INT